<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StrutsOne</display-name>
  <welcome-file-list>
  	<!-- index.jsp is the entry to the app. First file to be invoked. -->
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- define the struts servlet with proper class. Initialize it with its config
  by using init-param and load on startup. -->
  <servlet>
  	<servlet-name>struts</servlet-name>
  	<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  	<init-param>
  		<param-name>struts-config</param-name>
  		<param-value>/WEB-INF/struts-config.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- the above struts servlet will map to all url pattern with .do extension -->
  <servlet-mapping>
  	<servlet-name>struts</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>